<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Harsh\Blog\Api\Data\PostInterface" type="Harsh\Blog\Model\Post"/>
     <preference for="Harsh\Blog\Api\PostRepositoryInterface" type="Harsh\Blog\Model\PostRepository"/>
</config>